.row{width:100%; float:left; position: relative; margin:0px; padding: 0px;}
.container{width:1200px; margin:0 auto;}
.bodywrapper{width:100%; float: left; padding-top:85px}
.contentarea{width:800px; margin:20px auto 0px auto; height:100px;}